USE [master]
GO
/****** Object:  Database [Bai1]    Script Date: 12/27/2020 9:20:51 PM ******/
CREATE DATABASE [Bai1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Bai1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Bai1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Bai1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Bai1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Bai1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Bai1]
GO
/****** Object:  Table [dbo].[DIEMCHUAN]    Script Date: 12/27/2020 9:20:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEMCHUAN](
	[NAM] [nchar](4) NOT NULL,
	[MANGANH] [nchar](10) NOT NULL,
	[DIEMCHUAN] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[NAM] ASC,
	[MANGANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = ON, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KETQUA]    Script Date: 12/27/2020 9:20:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KETQUA](
	[SOBD] [nchar](10) NOT NULL,
	[MAMT] [nchar](10) NOT NULL,
	[DIEMTHI] [nchar](3) NULL,
	[GHICHU] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[SOBD] ASC,
	[MAMT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = ON, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONTHI]    Script Date: 12/27/2020 9:20:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONTHI](
	[MAMT] [nchar](10) NOT NULL,
	[TENMT] [nvarchar](50) NULL,
	[TINHCHAT] [nchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAMT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = ON, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONTHI-NGANH]    Script Date: 12/27/2020 9:20:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONTHI-NGANH](
	[MAMT] [nchar](10) NOT NULL,
	[MANGANH] [nchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAMT] ASC,
	[MANGANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = ON, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGANH]    Script Date: 12/27/2020 9:20:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGANH](
	[MANGANH] [nchar](10) NOT NULL,
	[TENNGANH] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANGANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THISINH]    Script Date: 12/27/2020 9:20:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THISINH](
	[SOBD] [nchar](10) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[NOISINH] [nvarchar](50) NULL,
	[MANGANH] [nchar](10) NULL,
	[NAMDUTHI] [nchar](4) NULL,
PRIMARY KEY CLUSTERED 
(
	[SOBD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DIEMCHUAN]  WITH CHECK ADD  CONSTRAINT [FK_DIEMCHUAN_NGANH] FOREIGN KEY([MANGANH])
REFERENCES [dbo].[NGANH] ([MANGANH])
GO
ALTER TABLE [dbo].[DIEMCHUAN] CHECK CONSTRAINT [FK_DIEMCHUAN_NGANH]
GO
ALTER TABLE [dbo].[KETQUA]  WITH CHECK ADD  CONSTRAINT [FK_KETQUA_MONTHI] FOREIGN KEY([MAMT])
REFERENCES [dbo].[MONTHI] ([MAMT])
GO
ALTER TABLE [dbo].[KETQUA] CHECK CONSTRAINT [FK_KETQUA_MONTHI]
GO
ALTER TABLE [dbo].[KETQUA]  WITH CHECK ADD  CONSTRAINT [FK_KETQUA_THISINH] FOREIGN KEY([SOBD])
REFERENCES [dbo].[THISINH] ([SOBD])
GO
ALTER TABLE [dbo].[KETQUA] CHECK CONSTRAINT [FK_KETQUA_THISINH]
GO
ALTER TABLE [dbo].[MONTHI-NGANH]  WITH CHECK ADD  CONSTRAINT [FK_MONTHI-NGANH_MONTHI] FOREIGN KEY([MAMT])
REFERENCES [dbo].[MONTHI] ([MAMT])
GO
ALTER TABLE [dbo].[MONTHI-NGANH] CHECK CONSTRAINT [FK_MONTHI-NGANH_MONTHI]
GO
ALTER TABLE [dbo].[MONTHI-NGANH]  WITH CHECK ADD  CONSTRAINT [FK_MONTHI-NGANH_NGANH] FOREIGN KEY([MANGANH])
REFERENCES [dbo].[NGANH] ([MANGANH])
GO
ALTER TABLE [dbo].[MONTHI-NGANH] CHECK CONSTRAINT [FK_MONTHI-NGANH_NGANH]
GO
ALTER TABLE [dbo].[THISINH]  WITH CHECK ADD  CONSTRAINT [FK_THISINH_NGANH] FOREIGN KEY([MANGANH])
REFERENCES [dbo].[NGANH] ([MANGANH])
GO
ALTER TABLE [dbo].[THISINH] CHECK CONSTRAINT [FK_THISINH_NGANH]
GO
USE [master]
GO
