USE [Bai2]
GO
/****** Object:  Table [dbo].[BOMON]    Script Date: 12/27/2020 10:31:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOMON](
	[MABM] [nchar](10) NOT NULL,
	[TENBM] [nvarchar](50) NULL,
 CONSTRAINT [PK_BÔMN] PRIMARY KEY CLUSTERED 
(
	[MABM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIANGVIEN]    Script Date: 12/27/2020 10:31:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIANGVIEN](
	[MAGV] [nchar](10) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[MABM] [nchar](10) NULL,
 CONSTRAINT [PK_GIANGVIEN] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOCKY]    Script Date: 12/27/2020 10:31:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCKY](
	[MAHK] [nchar](10) NOT NULL,
	[HOCKYSO] [nchar](1) NOT NULL,
	[NAMHOC] [nchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOCPHAN]    Script Date: 12/27/2020 10:31:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCPHAN](
	[MAHP] [nchar](10) NOT NULL,
	[TENHP] [nvarchar](50) NULL,
	[SOTINCHI] [nchar](10) NULL,
	[SOTIET] [nchar](10) NULL,
	[MABM] [nchar](10) NULL,
 CONSTRAINT [PK_HOCPHAN] PRIMARY KEY CLUSTERED 
(
	[MAHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOAMONHOM]    Script Date: 12/27/2020 10:31:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOAMONHOM](
	[MAHP] [nchar](10) NOT NULL,
	[MAHK] [nchar](10) NOT NULL,
	[SONHOM] [nchar](10) NULL,
 CONSTRAINT [PK_KHOAMONHOM] PRIMARY KEY CLUSTERED 
(
	[MAHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCGD]    Script Date: 12/27/2020 10:31:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCGD](
	[MAHP] [nchar](10) NOT NULL,
	[MAHK] [nchar](10) NOT NULL,
	[STTNHOM] [nchar](10) NOT NULL,
	[MAGV] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHP] ASC,
	[MAHK] ASC,
	[STTNHOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GIANGVIEN]  WITH CHECK ADD  CONSTRAINT [FK_GIANGVIEN_BOMON] FOREIGN KEY([MABM])
REFERENCES [dbo].[BOMON] ([MABM])
GO
ALTER TABLE [dbo].[GIANGVIEN] CHECK CONSTRAINT [FK_GIANGVIEN_BOMON]
GO
ALTER TABLE [dbo].[HOCPHAN]  WITH CHECK ADD  CONSTRAINT [FK_HOCPHAN_BOMON] FOREIGN KEY([SOTINCHI])
REFERENCES [dbo].[BOMON] ([MABM])
GO
ALTER TABLE [dbo].[HOCPHAN] CHECK CONSTRAINT [FK_HOCPHAN_BOMON]
GO
ALTER TABLE [dbo].[KHOAMONHOM]  WITH CHECK ADD  CONSTRAINT [FK_KHOAMONHOM_HOCKY] FOREIGN KEY([MAHK])
REFERENCES [dbo].[HOCKY] ([MAHK])
GO
ALTER TABLE [dbo].[KHOAMONHOM] CHECK CONSTRAINT [FK_KHOAMONHOM_HOCKY]
GO
ALTER TABLE [dbo].[KHOAMONHOM]  WITH CHECK ADD  CONSTRAINT [FK_KHOAMONHOM_HOCPHAN] FOREIGN KEY([MAHP])
REFERENCES [dbo].[HOCPHAN] ([MAHP])
GO
ALTER TABLE [dbo].[KHOAMONHOM] CHECK CONSTRAINT [FK_KHOAMONHOM_HOCPHAN]
GO
ALTER TABLE [dbo].[PCGD]  WITH CHECK ADD  CONSTRAINT [FK_PCGD_GIANGVIEN] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIANGVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[PCGD] CHECK CONSTRAINT [FK_PCGD_GIANGVIEN]
GO
ALTER TABLE [dbo].[PCGD]  WITH CHECK ADD  CONSTRAINT [FK_PCGD_KHOAMONHOM] FOREIGN KEY([MAHP])
REFERENCES [dbo].[KHOAMONHOM] ([MAHP])
GO
ALTER TABLE [dbo].[PCGD] CHECK CONSTRAINT [FK_PCGD_KHOAMONHOM]
GO
