USE [FinalDatabase]
GO
/****** Object:  Table [dbo].[CHINHANH]    Script Date: 1/2/2021 10:17:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHINHANH](
	[MACN] [nchar](10) NOT NULL,
	[TENCN] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](100) NULL,
 CONSTRAINT [PK_CHINHANH] PRIMARY KEY CLUSTERED 
(
	[MACN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHINHANH_SANPHAM]    Script Date: 1/2/2021 10:17:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHINHANH_SANPHAM](
	[MACN] [nchar](10) NOT NULL,
	[MASP] [nchar](100) NOT NULL,
	[SLUONGSP] [nchar](10) NULL,
 CONSTRAINT [PK_CHINHANH_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[MACN] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETDH]    Script Date: 1/2/2021 10:17:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDH](
	[MADH] [nchar](100) NOT NULL,
	[MASP] [nchar](100) NOT NULL,
	[SLUONG] [nchar](10) NULL,
	[TONGTIEN] [money] NULL,
 CONSTRAINT [PK_CHITIETDH] PRIMARY KEY CLUSTERED 
(
	[MADH] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONHANG]    Script Date: 1/2/2021 10:17:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONHANG](
	[MADH] [nchar](100) NOT NULL,
	[TTIEN] [money] NULL,
	[TTOAN] [money] NULL,
	[THOIGIAN] [datetime] NULL,
	[MANV] [nchar](10) NOT NULL,
 CONSTRAINT [PK_DONHANG] PRIMARY KEY CLUSTERED 
(
	[MADH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 1/2/2021 10:17:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [nchar](10) NOT NULL,
	[TENNV] [nvarchar](50) NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[NGAYSINH] [date] NULL,
	[CMND] [nchar](10) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[CHUCVU] [nvarchar](50) NULL,
	[CALAMVIEC] [nchar](10) NULL,
	[NGAYNV] [date] NULL,
	[LUONG] [money] NULL,
	[MACN] [nchar](10) NULL,
 CONSTRAINT [PK_NHANVIEN1] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 1/2/2021 10:17:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [nchar](100) NOT NULL,
	[TENSP] [nvarchar](50) NULL,
	[GIATIEN] [money] NULL,
	[NHASX] [nvarchar](50) NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHINHANH] ([MACN], [TENCN], [DIACHI]) VALUES (N'          ', NULL, NULL)
INSERT [dbo].[CHINHANH] ([MACN], [TENCN], [DIACHI]) VALUES (N'2         ', NULL, NULL)
GO
ALTER TABLE [dbo].[CHINHANH_SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_CHINHANH_SANPHAM_CHINHANH] FOREIGN KEY([MACN])
REFERENCES [dbo].[CHINHANH] ([MACN])
GO
ALTER TABLE [dbo].[CHINHANH_SANPHAM] CHECK CONSTRAINT [FK_CHINHANH_SANPHAM_CHINHANH]
GO
ALTER TABLE [dbo].[CHINHANH_SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_CHINHANH_SANPHAM_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CHINHANH_SANPHAM] CHECK CONSTRAINT [FK_CHINHANH_SANPHAM_SANPHAM]
GO
ALTER TABLE [dbo].[CHITIETDH]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDH_DONHANG] FOREIGN KEY([MADH])
REFERENCES [dbo].[DONHANG] ([MADH])
GO
ALTER TABLE [dbo].[CHITIETDH] CHECK CONSTRAINT [FK_CHITIETDH_DONHANG]
GO
ALTER TABLE [dbo].[CHITIETDH]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDH_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CHITIETDH] CHECK CONSTRAINT [FK_CHITIETDH_SANPHAM]
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONHANG_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[DONHANG] CHECK CONSTRAINT [FK_DONHANG_NHANVIEN]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_CHINHANH] FOREIGN KEY([MACN])
REFERENCES [dbo].[CHINHANH] ([MACN])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_CHINHANH]
GO
