USE [master]
GO
/****** Object:  Database [FinalDatabase]    Script Date: 1/3/2021 5:28:40 PM ******/
CREATE DATABASE [FinalDatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FinalDatabase.sql', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\FinalDatabase.sql.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB ),
( NAME = N'FinalDatabase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\FinalDatabase.ndf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FinalDatabase.sql_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\FinalDatabase.sql_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FinalDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FinalDatabase]
GO
/****** Object:  Table [dbo].[CHINHANH]    Script Date: 1/3/2021 5:28:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHINHANH](
	[MACN] [nchar](10) NOT NULL,
	[TENCN] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](100) NULL,
 CONSTRAINT [PK_CHINHANH] PRIMARY KEY CLUSTERED 
(
	[MACN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHINHANH_SANPHAM]    Script Date: 1/3/2021 5:28:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHINHANH_SANPHAM](
	[MACN] [nchar](10) NOT NULL,
	[MASP] [nchar](100) NOT NULL,
	[SLUONGSP] [nchar](10) NULL,
 CONSTRAINT [PK_CHINHANH_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[MACN] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETDH]    Script Date: 1/3/2021 5:28:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDH](
	[MADH] [nchar](100) NOT NULL,
	[MASP] [nchar](100) NOT NULL,
	[SLUONG] [nchar](10) NULL,
	[TONGTIEN] [money] NULL,
 CONSTRAINT [PK_CHITIETDH] PRIMARY KEY CLUSTERED 
(
	[MADH] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONHANG]    Script Date: 1/3/2021 5:28:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONHANG](
	[MADH] [nchar](100) NOT NULL,
	[TTIEN] [money] NULL,
	[TTOAN] [money] NULL,
	[THOIGIAN] [datetime] NULL,
	[MANV] [nchar](10) NOT NULL,
 CONSTRAINT [PK_DONHANG] PRIMARY KEY CLUSTERED 
(
	[MADH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 1/3/2021 5:28:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [nchar](10) NOT NULL,
	[TENNV] [nvarchar](50) NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[NGAYSINH] [date] NULL,
	[CMND] [nchar](10) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[CHUCVU] [nvarchar](50) NULL,
	[CALAMVIEC] [nchar](10) NULL,
	[NGAYNV] [date] NULL,
	[LUONG] [money] NULL,
	[MACN] [nchar](10) NULL,
 CONSTRAINT [PK_NHANVIEN1] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 1/3/2021 5:28:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [nchar](100) NOT NULL,
	[TENSP] [nvarchar](50) NULL,
	[GIATIEN] [money] NULL,
	[NHASX] [nvarchar](50) NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHINHANH] ([MACN], [TENCN], [DIACHI]) VALUES (N'CN0001    ', N'Nguyễn Ðại Hành', N'216 Pham Viet Chanh St., Lot D, Ward 19')
INSERT [dbo].[CHINHANH] ([MACN], [TENCN], [DIACHI]) VALUES (N'CN0002    ', N'La Thành Trung', N'234 Tran Hung Dao Street, Hai Duong City')
INSERT [dbo].[CHINHANH] ([MACN], [TENCN], [DIACHI]) VALUES (N'CN0003    ', N'Hồ Phước Sơn', N'24 Vinh Tuy, Lane 120')
GO
INSERT [dbo].[CHINHANH_SANPHAM] ([MACN], [MASP], [SLUONGSP]) VALUES (N'CN0001    ', N'D00001                                                                                              ', N'100       ')
INSERT [dbo].[CHINHANH_SANPHAM] ([MACN], [MASP], [SLUONGSP]) VALUES (N'CN0002    ', N'D00002                                                                                              ', N'200       ')
INSERT [dbo].[CHINHANH_SANPHAM] ([MACN], [MASP], [SLUONGSP]) VALUES (N'CN0003    ', N'D00003                                                                                              ', N'100       ')
GO
INSERT [dbo].[CHITIETDH] ([MADH], [MASP], [SLUONG], [TONGTIEN]) VALUES (N'DH00001                                                                                             ', N'D00001                                                                                              ', N'9         ', 90000.0000)
INSERT [dbo].[CHITIETDH] ([MADH], [MASP], [SLUONG], [TONGTIEN]) VALUES (N'DH00002                                                                                             ', N'D00010                                                                                              ', N'2         ', 22000.0000)
INSERT [dbo].[CHITIETDH] ([MADH], [MASP], [SLUONG], [TONGTIEN]) VALUES (N'DH00003                                                                                             ', N'D00010                                                                                              ', N'3         ', 33000.0000)
GO
INSERT [dbo].[DONHANG] ([MADH], [TTIEN], [TTOAN], [THOIGIAN], [MANV]) VALUES (N'DH00001                                                                                             ', 90000.0000, 100000.0000, CAST(N'2033-05-19T00:00:00.000' AS DateTime), N'NV00001   ')
INSERT [dbo].[DONHANG] ([MADH], [TTIEN], [TTOAN], [THOIGIAN], [MANV]) VALUES (N'DH00002                                                                                             ', 22000.0000, 22000.0000, CAST(N'1943-11-15T00:00:00.000' AS DateTime), N'NV00002   ')
INSERT [dbo].[DONHANG] ([MADH], [TTIEN], [TTOAN], [THOIGIAN], [MANV]) VALUES (N'DH00003                                                                                             ', 33000.0000, 40000.0000, CAST(N'1981-12-02T00:00:00.000' AS DateTime), N'NV00003   ')
GO
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [GIOITINH], [NGAYSINH], [CMND], [DIACHI], [CHUCVU], [CALAMVIEC], [NGAYNV], [LUONG], [MACN]) VALUES (N'NV00001   ', N'Phạm Ngọc Ðoàn', N'NAM', CAST(N'1909-09-14' AS Date), N'1385658603', N'4A Hoang Van Thu, Pleiku City', N'THU NGÂN', N'FT        ', CAST(N'2019-01-01' AS Date), 4000000.0000, NULL)
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [GIOITINH], [NGAYSINH], [CMND], [DIACHI], [CHUCVU], [CALAMVIEC], [NGAYNV], [LUONG], [MACN]) VALUES (N'NV00002   ', N'Ngô Anh Khải', N'NAM', CAST(N'1920-11-03' AS Date), N'1570604549', N'116 Nguyen Van Luong Street, Ward 10', N'QUẢN LÝ', N'PT1       ', CAST(N'2019-01-01' AS Date), 5000000.0000, NULL)
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [GIOITINH], [NGAYSINH], [CMND], [DIACHI], [CHUCVU], [CALAMVIEC], [NGAYNV], [LUONG], [MACN]) VALUES (N'NV00003   ', N'Dương Thành Thiện', N'NAM', CAST(N'1903-05-09' AS Date), N'1788462047', N'34 Nguyen Ba Huan St., Thao Dien Ward, Dist. 2', N'THU NGÂN', N'FT        ', CAST(N'2019-01-01' AS Date), 4000000.0000, NULL)
GO
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [GIATIEN], [NHASX]) VALUES (N'D00001                                                                                              ', N'STING DÂU', 10000.0000, N'PepsiCo')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [GIATIEN], [NHASX]) VALUES (N'D00002                                                                                              ', N'STING VÀNG', 10000.0000, N'PepsiCo')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [GIATIEN], [NHASX]) VALUES (N'D00003                                                                                              ', N'COCA COLA (LON 120ML)', 12000.0000, N'COCACOLA')
GO
ALTER TABLE [dbo].[CHINHANH_SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_CHINHANH_SANPHAM_CHINHANH] FOREIGN KEY([MACN])
REFERENCES [dbo].[CHINHANH] ([MACN])
GO
ALTER TABLE [dbo].[CHINHANH_SANPHAM] CHECK CONSTRAINT [FK_CHINHANH_SANPHAM_CHINHANH]
GO
ALTER TABLE [dbo].[CHINHANH_SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_CHINHANH_SANPHAM_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CHINHANH_SANPHAM] CHECK CONSTRAINT [FK_CHINHANH_SANPHAM_SANPHAM]
GO
ALTER TABLE [dbo].[CHITIETDH]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDH_DONHANG] FOREIGN KEY([MADH])
REFERENCES [dbo].[DONHANG] ([MADH])
GO
ALTER TABLE [dbo].[CHITIETDH] CHECK CONSTRAINT [FK_CHITIETDH_DONHANG]
GO
ALTER TABLE [dbo].[CHITIETDH]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDH_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CHITIETDH] CHECK CONSTRAINT [FK_CHITIETDH_SANPHAM]
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONHANG_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[DONHANG] CHECK CONSTRAINT [FK_DONHANG_NHANVIEN]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_CHINHANH] FOREIGN KEY([MACN])
REFERENCES [dbo].[CHINHANH] ([MACN])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_CHINHANH]
GO
USE [master]
GO
