USE [Bai5]
GO
/****** Object:  Table [dbo].[CANBO]    Script Date: 12/27/2020 3:39:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CANBO](
	[MACB] [nchar](10) NOT NULL,
	[HOTENCB] [nvarchar](50) NULL,
	[MADONVI] [nchar](10) NULL,
	[MADIEMTHI] [nchar](10) NULL,
 CONSTRAINT [PK_CANBO] PRIMARY KEY CLUSTERED 
(
	[MACB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIEMTHI]    Script Date: 12/27/2020 3:39:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEMTHI](
	[MADIEMTHI] [nchar](10) NOT NULL,
	[DIACHIDIEMTHI] [nvarchar](50) NULL,
 CONSTRAINT [PK_DIEMTHI] PRIMARY KEY CLUSTERED 
(
	[MADIEMTHI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONVI]    Script Date: 12/27/2020 3:39:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONVI](
	[MADONVI] [nchar](10) NOT NULL,
	[TENDONVI] [nvarchar](50) NULL,
 CONSTRAINT [PK_DONVI] PRIMARY KEY CLUSTERED 
(
	[MADONVI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONTHI]    Script Date: 12/27/2020 3:39:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONTHI](
	[MAMT] [nchar](10) NOT NULL,
	[TENMT] [nchar](10) NULL,
	[BUOITHI] [nvarchar](50) NULL,
	[NGAYTHI] [date] NULL,
 CONSTRAINT [PK_MONTHI] PRIMARY KEY CLUSTERED 
(
	[MAMT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGANH]    Script Date: 12/27/2020 3:39:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGANH](
	[MANGANH] [nchar](10) NOT NULL,
	[TENNGANH] [nvarchar](50) NULL,
 CONSTRAINT [PK_NGANH] PRIMARY KEY CLUSTERED 
(
	[MANGANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCCOITHI]    Script Date: 12/27/2020 3:39:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCCOITHI](
	[MACB] [nchar](10) NOT NULL,
	[PHONGTHI] [nchar](10) NOT NULL,
	[MAMT] [nchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MACB] ASC,
	[PHONGTHI] ASC,
	[MAMT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 12/27/2020 3:39:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG](
	[PHONGTHI] [nchar](10) NOT NULL,
	[MADIEMTHI] [nchar](10) NULL,
 CONSTRAINT [PK_PHONG] PRIMARY KEY CLUSTERED 
(
	[PHONGTHI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THISINH]    Script Date: 12/27/2020 3:39:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THISINH](
	[SOBD] [nchar](10) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[MANGANH] [nchar](10) NULL,
	[PHONGTHI] [nchar](10) NULL,
 CONSTRAINT [PK_THISINH] PRIMARY KEY CLUSTERED 
(
	[SOBD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CANBO]  WITH CHECK ADD  CONSTRAINT [FK_CANBO_DIEMTHI] FOREIGN KEY([MADIEMTHI])
REFERENCES [dbo].[DIEMTHI] ([MADIEMTHI])
GO
ALTER TABLE [dbo].[CANBO] CHECK CONSTRAINT [FK_CANBO_DIEMTHI]
GO
ALTER TABLE [dbo].[CANBO]  WITH CHECK ADD  CONSTRAINT [FK_CANBO_DONVI] FOREIGN KEY([MADONVI])
REFERENCES [dbo].[DONVI] ([MADONVI])
GO
ALTER TABLE [dbo].[CANBO] CHECK CONSTRAINT [FK_CANBO_DONVI]
GO
ALTER TABLE [dbo].[PCCOITHI]  WITH CHECK ADD  CONSTRAINT [FK_PCCOITHI_CANBO] FOREIGN KEY([MACB])
REFERENCES [dbo].[CANBO] ([MACB])
GO
ALTER TABLE [dbo].[PCCOITHI] CHECK CONSTRAINT [FK_PCCOITHI_CANBO]
GO
ALTER TABLE [dbo].[PCCOITHI]  WITH CHECK ADD  CONSTRAINT [FK_PCCOITHI_MONTHI] FOREIGN KEY([MAMT])
REFERENCES [dbo].[MONTHI] ([MAMT])
GO
ALTER TABLE [dbo].[PCCOITHI] CHECK CONSTRAINT [FK_PCCOITHI_MONTHI]
GO
ALTER TABLE [dbo].[PCCOITHI]  WITH CHECK ADD  CONSTRAINT [FK_PCCOITHI_PHONG] FOREIGN KEY([PHONGTHI])
REFERENCES [dbo].[PHONG] ([PHONGTHI])
GO
ALTER TABLE [dbo].[PCCOITHI] CHECK CONSTRAINT [FK_PCCOITHI_PHONG]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [FK_PHONG_DIEMTHI] FOREIGN KEY([MADIEMTHI])
REFERENCES [dbo].[DIEMTHI] ([MADIEMTHI])
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [FK_PHONG_DIEMTHI]
GO
ALTER TABLE [dbo].[THISINH]  WITH CHECK ADD  CONSTRAINT [FK_THISINH_NGANH] FOREIGN KEY([MANGANH])
REFERENCES [dbo].[NGANH] ([MANGANH])
GO
ALTER TABLE [dbo].[THISINH] CHECK CONSTRAINT [FK_THISINH_NGANH]
GO
ALTER TABLE [dbo].[THISINH]  WITH CHECK ADD  CONSTRAINT [FK_THISINH_PHONG] FOREIGN KEY([PHONGTHI])
REFERENCES [dbo].[PHONG] ([PHONGTHI])
GO
ALTER TABLE [dbo].[THISINH] CHECK CONSTRAINT [FK_THISINH_PHONG]
GO
